extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="firstname", name="firstname", required)
        input#inputUserEmail(type="text", placeholder="lastname", name="lastname", required)
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail", , required)
        button#btnSubmit(type="submit") submit
